$col-black: linear-gradient(
  90deg,
  rgb(163, 186, 248) 0%,
  rgb(97, 167, 248) 50%,
  rgb(44, 111, 255) 100%
);
$col-white: #ffffff;
$col-orange: #000000;
$col-boulder: #ffffff;
$col-gray: #ffffff;
$font-bebas: "Bebas Neue", sans-serif;
$font-sauce: "Open Sauce", arial;
$gradient: linear-gradient(
  90deg,
  rgba(233, 227, 198, 0.5) 0%,
  rgba(233, 198, 217, 0.5) 100%
);
